@model MVCBlog.Website.Models.OutputModels.Blog.BlogEntryDetail

<br />
<div class="well">    
    <div>
        <span class="bold">@Common.Tags</span>:
        @{
            string separator = ", ";
            var tags = Model.BlogEntry.Tags.Select(t => t.Name).OrderBy(t => t).ToArray();
        }
        @for (int i = 0; i < tags.Length; i++)
        {
            if (i == tags.Length - 1)
            {
                separator = string.Empty;
            }
   
            @Html.ActionLink(tags[i], MVC.Blog.Index(tags[i], string.Empty, null))@separator
        }
    </div>
</div>

@if (Model.RelatedBlogEntries.Length > 0)
{
    <hr />
    <h2>@Common.RelatedPosts</h2>
    <ul class="unstyled">
        @foreach (var blogEntry in Model.RelatedBlogEntries)
        {
            <li>@Html.ActionLink(blogEntry.Header, blogEntry.Url)</li>
        }
    </ul>
}